.vscode/*
.history/
*.code-workspace
*.vsix
.schemaCache/
.DS_Store
.AppleDouble
.LSSharedFileList
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
crash.*.log